<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CSS -->
        <link rel="stylesheet" href="resources/css/reset.css">
        <!-- CSS.libs -->
        <link rel="stylesheet" href="resources/css/libs/uikit.min.css">
        <!-- /CSS.libs -->
        <link rel="stylesheet" href="resources/css/style.css">
        <!-- /CSS -->
    </head>
    <body style="font-family: HGGGothicssi;">
        <div class="container">
            <section class="section section-1">
                <table class="uk-table uk-table-responsive uk-table-divider uk-table-hover">
                    <thead>
                        <tr>
                            <th>postId</th>
                            <th>postType</th>
                            <th>userInfo</th>
                            <th>title</th>
                            <th>createDate</th>
                            <th>version</th>
                            <th>postCnt</th>
                            <th>thumbs</th>
                            <th>tags</th>
                        </tr>
                    </thead>
                    <tbody id="app">
                        <tr v-for="post in posts">
                            <td>{{ post.postId }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div id="app">
                    <div v-for="post in posts">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.userId }}</p>
                        <p>{{ post.body }}</p>
                    </div> 
                </div> -->
            </section>
        </div>

        <script>
            new Vue ({
                el: '#app',
                data: {
                    posts: []
                },
                created() {
                    fetch('resources/data/list.json')
                    .then((response) => {
                        if(response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok!');
                    })
                    .then((json) => {
                        this.posts.push({
                            postId: json.postId,
                            postType: json.postType,
                            userId: json.user.userId
                        });
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                }
            });
        </script>

        <!-- SCRIPT -->
        <!-- JS.libs -->
        <script src="resources/js/libs/jquery-3.4.1.min.js"></script>
        <script src="resources/js/libs/uikit.min.js"></script>
        <script src="resources/js/libs/uikit-icons.min.js"></script>
        <script src="resources/js/libs/vue.js"></script>
        <!-- /JS.libs -->
       <script src="resources/js/common.js"></script>
        <!-- /SCRIPT -->
    </body>
</html>